@charset "UTF-8";

body {
  font-family: 'Noto Sans KR', sans-serif;
  background-color: #f7f7f7;
  padding: 20px;
}

h3 {
  text-align: center;
  color: #333;
  margin-bottom: 20px; /* 제목 아래 여백 추가 */
}

/* 약관 텍스트 영역 스타일 */
.agreement-textbox {
  resize: none;
  height: 500px; /* 높이 설정 */
  width: 100%; /* 너비 설정 - 100% 유지 */
  padding: 16px; /* 내부 패딩 늘림 */
  border: 1px solid #ccc; /* 테두리 추가 */
  border-radius: 4px; /* 모서리 둥글게 */
  box-sizing: border-box; /* 너비에 padding과 border 포함 */
  overflow-y: scroll; /* 수직 스크롤바만 표시 */
  font-size: 1rem; /* 글자 크기를 rem 단위로 조정 */
  background-color: #fff; /* 배경색 설정 */
  color: #333; /* 글자색 설정 */
  margin-bottom: 20px; /* 하단 여백 추가 */
}

/* 전체 컨테이너 스타일 */
.container {
  max-width: 600px; /* 너비 설정 - 조정 가능 */
  margin: 50px auto;
  background-color: #fff;
  padding: 40px; /* 내부 패딩을 늘림 */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

/* 체크박스와 라벨 스타일 */
.form-group label {
  display: block;
  color: #666;
  text-align: center; /* 중앙 정렬 */
  margin-top: 10px; /* 상단 여백 추가 */
}

/* 체크박스 스타일 */
.form-group input[type="checkbox"] {
  margin-right: 5px; /* 라벨과의 간격 */
}

/* 버튼 스타일링 */
.form-group button {
  display: block; /* 버튼을 블록 요소로 변경 */
  width: calc(50% - 4px); /* 버튼 너비 조정 */
  margin: 10px auto; /* 자동 여백으로 중앙 정렬 */
  padding: 10px;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  color: #fff;
  cursor: pointer;
}

/* 버튼 상태 스타일링 */
.btn-primary {
  background-color: #007bff;
  border-color: #007bff;
}

.btn-danger {
  background-color: #dc3545;
  border-color: #dc3545;
}

/* 버튼 호버 효과 */
.btn-primary:hover {
  background-color: #0056b3;
}

.btn-danger:hover {
  background-color: #c82333;
}