<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="adminMovie">

  <select id="getAllMovies" resultType="kr.co.movio.admin.movie.AdminMovieDTO">
    SELECT * FROM movie
  </select>

  <insert id="addMovie" parameterType="kr.co.movio.admin.movie.AdminMovieDTO">
    INSERT INTO movie (movie_title, release_date, description, poster_url, trailer_url, total_audience, age_rating, genre)
    VALUES (#{movieTitle}, #{releaseDate}, #{description}, #{posterUrl}, #{trailerUrl}, #{totalAudience}, #{ageRating}, #{genre})
  </insert>

  <update id="updateMovieStatus" parameterType="kr.co.movio.admin.movie.AdminMovieDTO">
    UPDATE movie SET status = #{status} WHERE movie_id = #{movieId}
  </update>

  <delete id="deleteMovie" parameterType="int">
    DELETE FROM movie WHERE movie_id = #{movieId}
  </delete>
  
</mapper>