<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="customer">
    <insert id="save" parameterType="kr.co.movio.customer.inquiry.CustomerInquiryDTO">
        INSERT INTO inquiry (inq_num, mem_id, inq_type, inq_title, inq_content, password)
        VALUES (#{inq_num}, #{mem_id}, #{inq_type}, #{inq_title}, #{inq_content}, #{password})
    </insert>

    <select id="findById" parameterType="int" resultType="kr.co.movio.customer.inquiry.CustomerInquiryDTO">
        SELECT inq_num, mem_id, inq_type, inq_title, inq_content, inq_date, password, inq_status
        FROM inquiry
        WHERE inq_num = #{inq_num}
    </select>

    <select id="countByMemberId" parameterType="String" resultType="int">
        SELECT COUNT(*)
        FROM inquiry
        WHERE mem_id = #{mem_id}
    </select>

    <select id="countByTheaterId" parameterType="String" resultType="int">
        SELECT COUNT(*)
        FROM inquiry
        WHERE theater_id = #{theater_id}
    </select>

    <select id="findAllInquiries" parameterType="map" resultType="kr.co.movio.customer.inquiry.CustomerInquiryDTO">
        SELECT inq_num, mem_id, inq_type, inq_title, inq_content, inq_date, password, inq_status
        FROM inquiry
        LIMIT #{offset}, #{limit}
    </select>

    <select id="getTotalInquiries" resultType="int">
        SELECT COUNT(*)
        FROM inquiry
    </select>

    <select id="searchInquiries" parameterType="map" resultType="kr.co.movio.customer.inquiry.CustomerInquiryDTO">
        SELECT inq_num, mem_id, inq_type, inq_title, inq_content, inq_date, password, inq_status
        FROM inquiry
        WHERE inq_title LIKE CONCAT('%', #{keyword}, '%') OR mem_id LIKE CONCAT('%', #{keyword}, '%')
        LIMIT #{offset}, #{limit}
    </select>

    <select id="getTotalInquiriesByKeyword" parameterType="String" resultType="int">
        SELECT COUNT(*)
        FROM inquiry
        WHERE inq_title LIKE CONCAT('%', #{keyword}, '%') OR mem_id LIKE CONCAT('%', #{keyword}, '%')
    </select>

    <update id="update" parameterType="kr.co.movio.customer.inquiry.CustomerInquiryDTO">
        UPDATE inquiry
        SET mem_id=#{mem_id}, inq_type=#{inq_type}, inq_title=#{inq_title}, 
            inq_content=#{inq_content}, inq_date=#{inq_date}, password=#{password}
        WHERE inq_num=#{inq_num}
    </update>

    <delete id="delete" parameterType="String">
        DELETE FROM inquiry
        WHERE inq_num = #{inq_num}
    </delete>

    <insert id="saveInquiryDetail" parameterType="kr.co.movio.customer.inquiry.InquiryDetailDTO">
        INSERT INTO inquirydetail (inqde_num, inq_num, inqde_content, inqde_date)
        VALUES (#{inqde_num}, #{inq_num}, #{inqde_content}, #{inqde_date})
    </insert>

    <select id="findInquiryDetailsByInquiryId" parameterType="String" resultType="kr.co.movio.customer.inquiry.InquiryDetailDTO">
        SELECT inqde_num, inq_num, inqde_content, inqde_date
        FROM inquirydetail
        WHERE inq_num = #{inq_num}
    </select>
    
    <!-- inqnum을 통해 데이터 가져오기 -->
	 <select id="findByInqNum" parameterType="int" resultType="kr.co.movio.customer.inquiry.CustomerInquiryDTO">
	    SELECT inq_num, mem_id, inq_type, inq_title, inq_content, inq_date, inq_status, password
	    FROM inquiry
	    WHERE inq_num = #{inq_num}
	 </select>
	
	<!-- 멤버 테이블에서 mem_id를 통해 username 가져오기 -->
	<select id="getUsernameByMemId" parameterType="String" resultType="String">
	    SELECT username
	    FROM member
	    WHERE mem_id = #{mem_id}
	</select>
    
      <!-- 답변 추가 -->
    <insert id="addReply" parameterType="kr.co.movio.customer.inquiry.InquiryDetailDTO">
        INSERT INTO inquirydetail (inq_num, inqde_content, inqde_date)
        VALUES (#{inq_num}, #{inqde_content}, CURRENT_DATE)
    </insert>
    
    <!-- 답변 목록 보여주는것 -->
    <select id="getRepliesByInquiryId" parameterType="int" resultType="kr.co.movio.customer.inquiry.InquiryDetailDTO">
        SELECT * FROM inquirydetail WHERE inq_num = #{inq_num}
    </select>
    
    <!-- 답변에 따라 상태 업데이트 -->
     <update id="updateInquiryStatus">
        UPDATE inquiry SET inq_status = #{status} WHERE inq_num = #{inq_num}
    </update>
    
</mapper>
