<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="notice">

    <!-- 공지사항 최신 5개 가져오기 -->
    <select id="getRecentNotices" resultType="kr.co.movio.customer.notice.NoticeDTO">
        SELECT notice_num AS noticeNum, title, content, regdate, chdate, kinds
        FROM notice
        ORDER BY regdate DESC
        LIMIT 5
    </select>

    <!-- 공지사항 총 개수 조회 -->
    <select id="countNotices" resultType="int">
        SELECT COUNT(*) FROM notice
    </select>

    <!-- 특정 공지사항 가져오기 -->
    <select id="getNoticeById" parameterType="int" resultType="kr.co.movio.customer.notice.NoticeDTO">
        SELECT notice_num AS noticeNum, title, content, regdate, chdate, kinds
        FROM notice
        WHERE notice_num = #{noticeNum}
    </select>

    <!-- 공지사항 목록 가져오기 (페이징 처리) -->
    <select id="getNotices" parameterType="map" resultType="kr.co.movio.customer.notice.NoticeDTO">
        SELECT notice_num AS noticeNum, title, content, regdate, chdate, kinds
        FROM notice
        ORDER BY regdate DESC
        LIMIT #{limit} OFFSET #{offset}
    </select>

    <!-- 조회수 증가 -->
    <update id="incrementViewCount" parameterType="int">
        UPDATE notice
        SET view_count = view_count + 1
        WHERE notice_num = #{noticeNum}
    </update>
</mapper>
