/* 푸터 스타일 수정 */
.footer {
    background-color: #f8f9fa; /* 밝은 배경색으로 설정 */
    color: #000; /* 텍스트 색상 검정으로 설정 */
}

.footer .container {
    display: flex;
    justify-content: left; /* 텍스트를 가운데 정렬 */
    align-items: center;
    gap: 20px; /* 로고와 텍스트 사이 간격 */
}

.footer-logo {
    margin-right: 60px; /* 로고와 텍스트 사이의 간격 조정 */
    flex-shrink: 0;
}

.footer-text {
    text-align: center;
    max-width: 70%; /* 텍스트 블록의 최대 너비 설정 */
}

.footer-text p {
    margin: 0;
    padding: 5px 0;
}